* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


.main {
    width: 100%;
    height: 60vw;
    background-color: aquamarine;
}


.header {
    width: 100%;
    height: 10vw;
    background-color: rgb(126, 62, 252);
    box-shadow: 0 .2vw .7vw .1vw black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2vw;

}

.circle {
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
    background-color: white;
}


.menu{
    width: 50vw;
    height: 8vw;
     /* background-color: aqua ; */
     display:flex;
     /* flex-direction: column; */
     align-items: center;
     justify-content: space-evenly;
}

.home{
    width: 8vw;
    height: 2vw;
    background-color: white;
    display: flex ;
    align-items: center;
    justify-content: center;

}

.log_out_button{
    width:8vw;
    height:4vw;
    border-radius: 1vw;
    border: none;
}

.center{
    width:100%;
    height: 50vw;
    /* background-color: brown; */
    display: flex;
}

.left_green{
    width:20%;
    height: 40vw;
    background-color: rgb(117, 245, 81) ;
}

.card{
    margin-left:2.5vw;
    width:75%;
    height: 40vw;
    /* background-color: rgb(251, 255, 0); */
    /* padding:3vw; */
}

.card_title{
    font-size: 1.5vw;

}

.card_box{
    width: 100%;
    height:30vw;
    background-color: antiquewhite;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    
}
.box{
    width: 20vw;
    height: 20vw;
    background-color: rgba(93, 62, 249, 0.742);
}



